<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

    <head>
        <% include head %>
        <script>
            function populateMessages() {
                $.getJSON("/messages", function(data) {
                    let htmlstr = "<tbody>"
                    $('tbody').remove()
                    for (let i = data.length-1; i >= 0 ; i-- )
                        htmlstr +=
                            '<tr><td>'+data[i].id+'</td>' +
                            '<td>'+data[i].sender+'</td>' +
                            '<td>'+data[i].topic+'</td>' +    
                            '<td>'+data[i].message+'</td></tr>'
                    htmlstr += '</tbody>'
                    $("thead").after(htmlstr)
                })
            }

            $(document).ready(function() {
                populateMessages()
                setInterval( populateMessages, 5000 )
            })
        </script>
    </head>

    <body class="container">

        <header>
            <% include header %>
        </header>

        <main>
            <div class="jumbotron">
                <div class="row justify-content-center align-items-center">
                    <h1><%= title %></h1>
                </div>
                <div class="row align-items-center">
                    <table class="table table-striped table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>sender</th>
                                <th>topic</th>
                                <th>message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- tähän kohtaan populateMessages-javascript-funktio täydentää viestit -->>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>id</th>
                                <th>sender</th>
                                <th>topic</th>
                                <th>message</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </main>

        <footer>
            <% include footer %>
        </footer>

    </body>
</html>